/dts-v1/;

#include <raspberrypi/rpi_pico/rp2040.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,flash-controller = &ssi;
        zephyr,code-partition = &code_partition;
    };

    #define L(x) RC(0, x)
    #define R(x) RC(1, x)

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <21>;
        rows = <2>;
        map = <
            L(20) L(17) L(14) L(11) L(8) L(5)    R(17) R(14) R(11) R(8) R(5) R(2)
            L(19) L(16) L(13) L(10) L(7) L(4)    R(16) R(13) R(10) R(7) R(4) R(1)
            L(18) L(15) L(12) L( 9) L(6) L(3)    R(15) R(12) R( 9) R(6) R(3) R(0)
                               L(0) L(1) L(2)    R(18) R(19) R(20)
        >;
    };

    #undef L
    #undef R

    kscan_composite: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <2>;      // Each hand is on it’s own "row"
        columns = <21>;  // Each key is on it’s own "column"

        left {
            kscan = <&kscan_left>;
        };

        right {
            kscan = <&kscan_right>;
            row-offset = <1>;
        };
    };

    // Median positions have no effects on the gpio used for the key
    kscan_left: kscan_left {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            // Thumb (Tucked / Home / Reachy)
            = <&rp2040_gpio  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Inner (Bottom / Home / Top)
            , <&rp2040_gpio  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Index (Bottom / Home / Top)
            , <&rp2040_gpio  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Middle (Bottom / Home / Top)
            , <&rp2040_gpio 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Ring (Bottom / Home / Top)
            , <&rp2040_gpio 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Pincky (Bottom / Home / Top)
            , <&rp2040_gpio 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Outer (Bottom / Home / Top)
            , <&rp2040_gpio 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&rp2040_gpio 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    kscan_right: kscan_right {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios
            // Outer (Bottom / Home / Top)
            = <&io_exp_gpio  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Pincky (Bottom / Home / Top)
            , <&io_exp_gpio  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Ring (Bottom / Home / Top)
            , <&io_exp_gpio  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Middle (Bottom / Home / Top)
            , <&io_exp_gpio 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Index (Bottom / Home / Top)
            , <&io_exp_gpio 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Inner (Bottom / Home / Top)
            , <&io_exp_gpio 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

            // Thumb (Tucked / Home / Reachy)
            , <&io_exp_gpio 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&io_exp_gpio 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    left_encoder: left_encoder {
        compatible = "alps,ec11";
        a-gpios = <&rp2040_gpio 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&rp2040_gpio 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <80>;
        status = "okay";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder>;
        triggers-per-rotation = <20>;
    };

    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan_composite>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0  115      0      0     0>
            , <&key_physical_attrs 100 100  100   95      0      0     0>
            , <&key_physical_attrs 100 100  200   35    900    100   325>
            , <&key_physical_attrs 100 100  300    0   1500    170   310>
            , <&key_physical_attrs 100 100  400   25   1500    170   310>
            , <&key_physical_attrs 100 100  500   45   1500    170   310>

            , <&key_physical_attrs 100 100  770   45 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870   25 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970    0 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070   35  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170   95      0      0     0>
            , <&key_physical_attrs 100 100 1270  115      0      0     0>

            , <&key_physical_attrs 100 100    0  215      0      0     0>
            , <&key_physical_attrs 100 100  100  195      0      0     0>
            , <&key_physical_attrs 100 100  200  135    900    100   325>
            , <&key_physical_attrs 100 100  300  100   1500    170   310>
            , <&key_physical_attrs 100 100  400  125   1500    170   310>
            , <&key_physical_attrs 100 100  500  145   1500    170   310>

            , <&key_physical_attrs 100 100  770  145 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870  125 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970  100 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070  135  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170  195      0      0     0>
            , <&key_physical_attrs 100 100 1270  215      0      0     0>

            , <&key_physical_attrs 100 100    0  315      0      0     0>
            , <&key_physical_attrs 100 100  100  295      0      0     0>
            , <&key_physical_attrs 100 100  200  235    900    100   325>
            , <&key_physical_attrs 100 100  300  200   1500    170   310>
            , <&key_physical_attrs 100 100  400  225   1500    170   310>
            , <&key_physical_attrs 100 100  500  245   1500    170   310>

            , <&key_physical_attrs 100 100  770  245 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870  225 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970  200 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070  235  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170  295      0      0     0>
            , <&key_physical_attrs 100 100 1270  315      0      0     0>

            , <&key_physical_attrs 100 100  400  355   1500    170   310>
            , <&key_physical_attrs 100 100  500  355   3100    330   400>
            , <&key_physical_attrs 100 100  600  355   4700    415   440>

            , <&key_physical_attrs 100 100  670  400 (-4700)   910   460>
            , <&key_physical_attrs 100 100  770  400 (-3100)   965   420>
            , <&key_physical_attrs 100 100  870  400 (-1500)  1025   330>
            ;
    };

    physical_layouthummingbird: physical_layout_hummingbird { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan_composite>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs  10  10    0  400       0     0     0>
            , <&key_physical_attrs  10  10    0  400       0     0     0>
            , <&key_physical_attrs 100 100  200   35     900   100   325>
            , <&key_physical_attrs 100 100  300    0    1500   170   310>
            , <&key_physical_attrs 100 100  400   25    1500   170   310>
            , <&key_physical_attrs  10  10    0  400       0     0     0>

            , <&key_physical_attrs  10  10    0  400      0      0     0>
            , <&key_physical_attrs 100 100  870   25 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970    0 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070   35  (-900)  1250   325>
            , <&key_physical_attrs  10  10    0  400       0     0     0>
            , <&key_physical_attrs  10  10    0  400       0     0     0>

            , <&key_physical_attrs  10  10    0  400       0     0     0>
            , <&key_physical_attrs 100 100  100  165       0     0     0>
            , <&key_physical_attrs 100 100  200  135     900   100   325>
            , <&key_physical_attrs 100 100  300  100    1500   170   310>
            , <&key_physical_attrs 100 100  400  125    1500   170   310>
            , <&key_physical_attrs 100 100  500   75    1500   170   310>

            , <&key_physical_attrs 100 100  770   75 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870  125 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970  100 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070  135  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170  165       0     0     0>
            , <&key_physical_attrs  10  10   0   400       0     0     0>

            , <&key_physical_attrs  10  10    0  400       0     0     0>
            , <&key_physical_attrs 100 100  100  265       0     0     0>
            , <&key_physical_attrs 100 100  200  235     900   100   325>
            , <&key_physical_attrs 100 100  300  200    1500   170   310>
            , <&key_physical_attrs 100 100  400  225    1500   170   310>
            , <&key_physical_attrs 100 100  500  175    1500   170   310>

            , <&key_physical_attrs 100 100  770  175 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  870  225 (-1500)  1200   310>
            , <&key_physical_attrs 100 100  970  200 (-1500)  1200   310>
            , <&key_physical_attrs 100 100 1070  235  (-900)  1250   325>
            , <&key_physical_attrs 100 100 1170  265       0     0     0>
            , <&key_physical_attrs  10  10  0    400       0     0     0>

            , <&key_physical_attrs 100 100  400  355    1500   170   310>
            , <&key_physical_attrs 100 100  500  355    3100   330   400>
            , <&key_physical_attrs 100 100  600  355    4700   415   440>
            , <&key_physical_attrs 100 100  670  400 (-4700)   910   460>
            , <&key_physical_attrs 100 100  770  400 (-3100)   965   420>
            , <&key_physical_attrs 100 100  870  400 (-1500)  1025   330>
            ;
    };
};

rp2040_gpio: &gpio0 {
    status = "okay";
};

&pinctrl {
    i2c0_custom: i2c0_custom {
        group1 {
            pinmux = <I2C0_SCL_P29>, <I2C0_SDA_P28>;
            input-enable;
            input-schmitt-enable;
        };
    };

    i2c1_custom: i2c1_custom {
        group1 {
            pinmux = <I2C1_SCL_P27>, <I2C1_SDA_P26>;
            input-enable;
            input-schmitt-enable;
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c0_custom>;
    pinctrl-names = "default";

    io_exp_gpio: pcal6524@23 {
        compatible = "nxp,pcal6524";
        status = "okay";
        ngpios = <24>;
        #gpio-cells = <2>;
        gpio-controller;
        reg = <0x23>;
    };
};

/* &i2c1 { */
/*     status = "okay"; */
/*     clock-frequency = <I2C_BITRATE_STANDARD>; */
/*     pinctrl-0 = <&i2c1_custom>; */
/**/
/*     cirque_left: cirque_left@55 { */
/*         compatible = "cirque,pinnacle"; */
/*         reg = <0x55>; */
/*     }; */
/* }; */

&timer {
    status = "okay";
};

&rtc {
    clocks = <&clocks RPI_PICO_CLKID_CLK_RTC>;
    status = "okay";
};

&vreg {
    regulator-always-on;
    regulator-allowed-modes = <REGULATOR_RPI_PICO_MODE_NORMAL>;
};

zephyr_udc0: &usbd {
    status = "okay";
};

&flash0 {
    // Flex 25.xx: W25Q128JV onboard flash, 128M-bit memory (16MB).
    // Flex 26.01: W25Q16JVUX onboard flash, 16M-bit memory (2MB).
    // 2MB is more than enough, so let's use that for all Flex versions.
    reg = <0x10000000 DT_SIZE_M(2)>;

    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        // Reserved memory for the second-stage bootloader
        second_stage_bootloader: partition@0 {
            reg = <0x00000000 0x100>;
            read-only;
        };

        // Usable flash. Starts at 0x100, after the bootloader. The partition
        // size is 2MB minus:
        // - 0x100 bytes taken by the bootloader
        // - 0x20000 bytes (= 128 kB) taken by storage
        code_partition: partition@100 {
            reg = <0x100 (DT_SIZE_M(2) - 0x100 - DT_SIZE_K(128))>;
            read-only;
        };

        // Extra storage needed to store extra tweaks done using ZMK-Studio
        storage_partition: partition@1e0000 {
            reg = <0x1e0000 DT_SIZE_K(128)>;
        };
    };
};

&xosc {
    // Ensure the 12MHz oscillator has enough time to stabilize properly.
    // Required by Flex 25.xx, should be useless with Flex 26.01.
    startup-delay-multiplier = <64>;
};
